
html {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
}

header {
  position: fixed;
  width: 100vw;
  z-index: 999;
}

h1 {
  font-size: 2em;
  margin: 0em 0;
}

ul {
  display: block;
  list-style-type: disc;
}

.header-content .container-logo img {
  max-height: 36px;
}

.container-menu-nav ul {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.site-content {
  overflow-x: hidden;
  position: relative;
}

.hero {
  background-image: url("/assets/web/s1\ ft1.png");
  background-position: 50%;
  background-size: cover;
  height: 100vh;
}

.about {
  background-image: url("/assets/web/bg.png");
  background-position: 50%;
  background-size: cover;
  height: 100vh;
}