/* Responsividade */
@media screen and (max-width: 768px) {

  /* Header */
  .menu-items {
    display: none;
  }

  .show {
    display: block;
  }
  
  .hide {
    display: none;
  }
  
  .menu-mobile-icon {
    display: block;
    width: 24px;
  }

  .container-logo .logo {
    height: 4vh;
    margin-left: 15vh;
  }

  /* Principal */
  .principal {
    background-image: none;
    
    
  }

}

/* Configurações Gerais */
body {
  font-family: 'Montserrat', sans-serif;
  height: 100%;
  line-height: 1.5;
  margin: 0;
}

header {
  display: flex;
  font-weight: 700;
  justify-content: center;
  position: fixed;
  width: 100vw;
  transition: 800ms;
  height: 11vh;
  line-height: 0;
}

/* Configurações Específicas */
a {
  text-decoration: none;
  text-transform: uppercase;
  margin-top: 20px;
  color: white;
  font-size: 13px;
}

h1 {
  flex-flow: row wrap;
  margin: 0;
}


li {
  font-size: 0.9rem;
  font-weight: bold;
  margin-left: 2rem;
  height: 4vh;
}

.scroll-header {
  background-color: white;
  transition: 800ms;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.scroll-header a {
  color: black;
}

.header-content {
  display: flex;
  width: 90vw;
  height: 10vh;
  justify-content: space-around;
  padding: 1rem;
}

.logo {
  height: 6vh;
}

.container-menu-nav {
  display: flex;
  margin-left: 5vh;
  margin-top: 1.5vh;
}

ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  flex-flow: row wrap;
  margin-top: 8px;
  height: 1vh;
}

nav {
  
  height: 5vh;
}

svg {
  display: none;
}

.container {
  color: white;
  padding-top: calc(7rem + 60px);
  padding-bottom: 3rem;
  justify-content: center;
  text-align: center;
}

.principal {
  background-image: url("/assets/web/s1\ ft1.png");
  background-position: 50% 0px;
  background-size: cover;
  background-attachment: fixed; 
  border: 1px solid;
  display: flex;  
  height: 100vh;
}


.principal-title {
  font-size: 14vh;
  font-weight: 800;
  margin-top: 0;
  margin-bottom: 20px;
}

.principal-description {
  font-size: 14px;
  margin-left: 27vw;
  margin-right: 27vw;
}

.principal-button {
  margin-top: 11vh;
}

.principal-button a {
  font-weight: bold;
  text-transform: uppercase;
  background: #1cd4e9;
  padding: 20px 15px;
  border-radius: 271px;
}


.span-principal {
  color: yellow;
  font-weight: bold;
}

.about {
  padding-top: 2.5rem;
  margin-top: 0;
  margin-bottom: 5.5rem;
  position: relative;
}

.about:after {
  transform-origin: 50% 50%;
    content: " ";
    z-index: -1;
    width: 320%;
    height: 500px;
    top: -400px;
    left: -130%;
    background-color: #efe60b;
    -ms-transform: rotate(-35deg);
    transform: rotate(308deg);
    position: absolute;
}

.about:before {
  transform-origin: 50% 50%;
    content: " ";
    z-index: -1;
    width: 320%;
    height: 500px;
    top: -400px;
    left: -1%;
    background-color: #4E4C4A ;
    -ms-transform: rotate(-35deg);
    transform: rotate(308deg);
    position: absolute;
}

.about-title {
  color: black;
}

.about .about-content-description {
  padding: 2rem;
  background: #fff;
  box-shadow: 8px 8px 48px 0 rgb(0 0 0 / 15%);
  max-width: 810px;
}

.about-description {
  color: black;
}

.services-itens-container {
  color: black;
}

.differentials {
  color: black;
}

.contact-information {
  color: black;
}

.contact-description {
  color: black;
}

.footer-content {
  color: black;
}
